body {
  background: #b11a21;
  height: 100%;
  margin: 0;
  background-repeat: no-repeat;
  background-attachment: fixed;
  font-family: 'Playfair Display', serif;
  text-align: center;
}

header {
  text-align: center;
  font-family: "Helvetica Neue"
  font-size: 40px;
  font-variant: small-caps;
  animation-duration: 3s;
  animation-name: fadein;
}
