body {
  background: #b11a21;
  height: 100%;
  margin: 0;
  background-repeat: no-repeat;
  background-attachment: fixed;
  font-family: "Helvetica Neue";
  text-align: center;
}

title {
  text-align: center;
  font-family: "Helvetica Neue";
  font-size: 40px;
  font-variant: small-caps;
  animation-duration: 3s;
  animation-name: fadein;
}

.btn-circle.btn-xl {
    width: 70px;
    height: 70px;
    padding: 10px 16px;
    border-radius: 35px;
    font-size: 24px;
    line-height: 1.33;
}

.btn-circle {
    width: 30px;
    height: 30px;
    padding: 6px 0px;
    border-radius: 15px;
    text-align: center;
    font-size: 12px;
    line-height: 1.42857;
}
