<!DOCTYPE html>
<title>Grumble</title>
<link rel="stylesheet" href="/stylesheets/filter.css">
<link href="https://fonts.googleapis.com/css?family=Playfair+Display" rel="stylesheet">
<head>
  <link rel="icon" href="/images/favicon.ico">
</head>

<body>
  <header>
    <h1 style="text-align:center;">Create your Grumble!</h1>
    Please enter your groupname:<br>
    <input type="text" name="groupname">
    <br>
    Please enter your zipcode:<br>
    <input type="text" name="zipcode">
    <br>
    When do you expect to arrive?<br>
    <input type="time" name="appt"
       min="0:00" max="23:59" required="required">
    <br>
    What do you want to priortize?<br>
      <select name="priority" id="selects" required="required">
        <option value="Price">Price</option>
      	<option value="Distance">Distance</option>
      </select>
      <br>
    Number of people? (including yourself)<br>
    <input type="text" name="number">
    <br>
  <form action="/initiator" method="post"><br>
    <a href="initator.html">submit</a>
    <button>submit</button>
  </form>
</body>
