<!DOCTYPE html>
<title>Grumble</title>
<link rel="stylesheet" href="/stylesheets/filter.css">
<link href="https://fonts.googleapis.com/css?family=Playfair+Display" rel="stylesheet">
<head>
  <link rel="icon" href="/images/favicon.ico">
</head>

<body>
  <header>
    <h1>Grumble</h1>
    Create your Grumble!<br>
    Help us filter your meal selection.
    <form action="/inithandler" method="post">
    <h2>Group Name:</h2>
    <input type="text" name="groupname" required="required">
    <br>
    <h2>Group Size:</h2>
    <input type="text" name="number" required="required">
    <br>
    <h2>Zipcode:</h2>
    <input type="text" name="zipcode" required="required">
    <br>
    <h2>Arrival Time:</h2>
    <input type="time" name="appt"
       min="0:00" max="23:59" required="required">
    <br>
    <h2>Priority:</h2>
      <select name="priority" id="selects" required="required">
        <option value="Price">Price</option>
      	<option value="Distance">Distance</option>
      </select>
      <br><br>
      <button>SUBMIT</button>
  </form>
</body>
