<!DOCTYPE html>
<title>Grumble</title>
<link rel="stylesheet" href="/stylesheets/home.css">
<link href="https://fonts.googleapis.com/css?family=Playfair+Display" rel="stylesheet">
<head>
  <link rel="icon" href="/images/favicon.ico">
</head>

<body>
  <header>
    <h1>Grumble</h1>
    <br>
      <h2>Create a group</h2>
        <form action="/filter" method="post">
          <button>CREATE</button>
        </form>
      <h2>Join a group</h2>
        <form action="/joiner" method="post">
          <button>JOIN</button>
        </form>
    <br><br>
</body>
