<!DOCTYPE html>
<title>ROFL</title>
<link rel="stylesheet" href="/stylesheets/home.css">
<link href="https://fonts.googleapis.com/css?family=Playfair+Display" rel="stylesheet">
<head>
  <link rel="icon" href="/images/favicon.ico">
</head>

<body>
  <header>
    <h1>Moody Foodies</h1>
    <br><br>
    <form action="/create" method="post"><br>
      <label>Game Pin:</label>
      <input gamepin="gamepin" maxlength="20" required="required">
      <button id="submitbutton">Submit</button>
    </form>
    <br><br>
</body>
