<!DOCTYPE html>
<title>Grumble</title>
<link rel="stylesheet" href="/stylesheets/home.css">
<link href="https://fonts.googleapis.com/css?family=Playfair+Display" rel="stylesheet">
<head>
  <link rel="icon" href="/images/favicon.ico">
</head>

<body>
  <header>
    <h1>Welcome to Grumble</h1>
    <br><br>
    <form action="/filter" method="post"><br>
      <button>Create a Group</button>
    </form>
    <form action="/joiner" method="post"><br>
      <button>Join Group</button>
    </form>
    <br><br>
</body>
