<!DOCTYPE html>
<title>Grumble</title>
<link rel="stylesheet" href="/stylesheets/initiator.css">
<link href="https://fonts.googleapis.com/css?family=Playfair+Display" rel="stylesheet">
<head>
  <link rel="icon" href="/images/favicon.ico">
</head>

<body>
  <header>
    <h1>Grumble</h1>
    <br><br>
      <h2 style="text-align:center;">Your Grumble Code: ####</h2>
      <p id="number"></p>
      <script>
      var min = 100000;
      var max = 999999;
      var randomNumber = Math.floor(Math.random() * (max-min) + min);
      document.getElementById("number").innerHTML = randomNumber;
      </script>
      <h3 style="text-align:center;">Share your code with friends:</h3>
    <br><br>
</body>
