<!DOCTYPE html>
<title>Grumble</title>
<link rel="stylesheet" href="/stylesheets/initiator.css">
<link href="https://fonts.googleapis.com/css?family=Playfair+Display" rel="stylesheet">
<head>
  <link rel="icon" href="/images/favicon.ico">
</head>

<body>
  <header>
    <h1>Grumble</h1>
      <h2>your Grumble code:</h2>
      <p id="number"></p>
      <script>
      var min = 100000;
      var max = 999999;
      var randomNumber = Math.floor(Math.random() * (max-min) + min);
      document.getElementById("number").innerHTML = randomNumber;
      </script>
      <h2>Share your code with friends!</h2>
    <br>
    <h2>Once you've entered it with your friends, click enter!</h2>
    <br>
    <form action="/swipe">
    <button>ENTER</button>
    </form>
</body>
