<!DOCTYPE html>
<title>Grumble</title>
<link rel="stylesheet" href="/stylesheets/initiator.css">
<link href="https://fonts.googleapis.com/css?family=Playfair+Display" rel="stylesheet">
<head>
  <link rel="icon" href="/images/favicon.ico">
</head>

<body>
  <header>
    <h1 style="text-align:center;">Grumble Group (Name) Created!</h1>
    <br><br>
      <h2 style="text-align:center;">Your Grumble Code: ####</h2>
      <br>
      
      <h3 style="text-align:center;">Share your code with friends:</h3>
    <br><br>
</body>
