<!DOCTYPE html>
<title>Grumble</title>
<link rel="stylesheet" href="/stylesheets/joiner.css">
<link href="https://fonts.googleapis.com/css?family=Playfair+Display" rel="stylesheet">
<head>
  <link rel="icon" href="/images/favicon.ico">
</head>

<body>
  <header>
    <h1>Grumble</h1>
    join an existing grumble group!<br>
    let's decide where to eat.
    <form action="/personhandler" method="post">
      <h2>Your Name:</h2>
      <input class="heighttext" type="text" name="name">
      <br><br>
      <h2>Grumble Code:</h2>
      <input class="heighttext" type="text" name="code">
      <br><br>
      <button class="button button1">SUBMIT</button>
      <br>
      <button class="button button1"> BACK </button>
    </form>
    <br><br>
</body>
