<!DOCTYPE html>
<title>Grumble</title>
<link rel="stylesheet" href="/stylesheets/joiner.css">
<link href="https://fonts.googleapis.com/css?family=Playfair+Display" rel="stylesheet">
<head>
  <link rel="icon" href="/images/favicon.ico">
</head>

<body>
  <header>
    <h1>Grumble</h1>
    join a grumble group!<br>
    let's decide where to eat.
    <form action="/swipe">
      <h2>Grumble code:</h2>
      <input type="text" name="codename">
      <br><br>
      <button class="button button1">SUBMIT</button>
      <br>
      <button class="button button1">BACK</button>
    </form>
    <br><br>

</body>
