<!DOCTYPE html>
<title>Grumble</title>
<link rel="stylesheet" href="/stylesheets/swipe.css">
<link href="https://fonts.googleapis.com/css?family=Playfair+Display" rel="stylesheet">

<header>
<h1>Grumble<img src="images/burger.png" alt="grumble logo" style="width:55px;height:42px;"></h1>
<div class = "place">
  <p6 id = "first"></p6>
  <br>
  <img id = "firstpic" src="">
  <p6 id = "firstrate"></p6>
  <form method="post">
    <button class="button button1">NO</button>
    <button class="button button1">HECK YEA</button>
    <button class="button button1">YES</button>
  </form>
</div>
<div class = "place">
  <img id = "secondpic" src="">
  <br>
  <p6 id = "second"></p6>
  <p6 id = "secondrate"></p6>
  <form method="post">
    <button class="button button1">NO</button>
    <button class="button button1">HECK YEA</button>
    <button class="button button1">YES</button>
  </form>
</div>
<div class = "place">
  <img id = "thirdpic" src="">
  <br>
  <p6 id = "third"></p6>
  <p6 id = "thirdrate"></p6>
  <form method="post">
    <button class="button button1">NO</button>
    <button class="button button1">HECK YEA</button>
    <button class="button button1">YES</button>
  </form>
</div>
<div class = "place">
  <img id = "forthpic" src="">
  <br>
  <p6 id = "forth"></p6>
  <p6 id = "forthrate"></p6>
  <form method="post">
    <button class="button button1">NO</button>
    <button class="button button1">HECK YEA</button>
    <button class="button button1">YES</button>
  </form>
</div>
<div class = "place">
  <img id = "fifthpic" src="">
  <br>
  <p6 id = "fifth"></p6>
  <p6 id = "fifthrate"></p6>
  <form method="post">
    <button class="button button1">NO</button>
    <button class="button button1">HELL YEA</button>
    <button class="button button1">YES</button>
  </form>
</div>
<div class = "place">
  <img id = "sixthpic" src="">
  <br>
  <p6 id = "sixth"></p6>
  <p6 id = "sixthrate"></p6>
  <form action="/resultshandler" method="post">
    <button class="button button1">NO</button>
    <button class="button button1">HELL YEA</button>
    <button class="button button1">YES</button>
  </form>
  <break>
  <form action="/" method="get">
      <button class="button button1"> BACK </button>
  </form>
</div>

<script src="/javascript/api.js"></script>
