<!DOCTYPE html>
<title>Grumble</title>
<link rel="stylesheet" href="/stylesheets/swipe.css">
<link href="https://fonts.googleapis.com/css?family=Playfair+Display" rel="stylesheet">



<div class = "place">
  <p6 id = "first"></p6>
</div>
<div class = "place">
  <p6 id = "second"></p6>
</div>
<div class = "place">
  <p6 id = "third"></p6>
</div>
<div class = "place">
  <p6 id = "fourth"></p6>
</div>
<div class = "place">
  <p6 id = "fifth"></p6>
</div>
<div class = "place">
  <p6 id = "sixth"></p6>
</div>



<script src="/javascript/map.js"></script>
